{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<header class="header-icon-filter">
    <!-- Back Button -->
    <button class="icon-button">
        <i class="bi bi-arrow-left icon"></i>
    </button>
    <span class="title">Matches</span>
    <!-- Go to Filter Button -->
    <a href="{% url 'dating:preferences' %}" class="icon-button">Go to Preferences</a>
</header>

<main class="container mt-4" id="dating-secton-5pages">
    <section class="matches">
        <div class="row justify-content-center">
            {% if users %}
                {% for user in users %}
                <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                    <div class="match-card">
                        {% if user.personaldetails.profile_pic %}
                            <img src="{{ user.personaldetails.profile_pic.url }}" alt="{{ user.username }}">
                        {% else %}
                            <img src="{% static 'images/default-profile.png' %}" alt="default-profile">
                        {% endif %}
                        <p class="name">{{ user.username }}, {{ user.personaldetails.get_age }}</p>
                        <p>{{ user.address_set.first.city }}</p>
                        <p>Occupation: {{ user.jobprofile.job_status }}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No matches found. Adjust your preferences.</p>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}
