{% extends 'shared/base.html' %}
{% load static %}


{% block content %}

    <header class="header-icon-filter">
        <!-- Left Arrow Button -->
        <button class="icon-button">
            <i class="bi bi-arrow-left icon"></i>
        </button>
        
        <h3>Qualification</h3>
        
        <!-- Filter Button -->
        <button class="icon-button">
            <i class="bi bi-funnel icon"></i>
        </button>
    </header>

    <!-- Page content goes here -->
    <main class="container mt-4" id="dating-secton-5pages">
        <section class="matches">
            <div class="row justify-content-center">
                {% for profile, score, distance,is_online in matches %}
    <div class="col-md-3 col-sm-6 d-flex justify-content-center">
        <div class="match-card">
            <img src="{{ profile.personaldetails.profile_pic.url }}" alt="{{ profile.username }}">
            <p class="match-percentage">{{ score }}% Match</p>
            <p class="name">{{ profile.username }}, {{ profile.personaldetails.get_age }}</p>
            <p>{{ profile.personaldetails.user.address.city }}</p>
            <p>
                {% if distance %}
                    {{ distance|floatformat:1 }} km away
                {% else %}
                    <p>1 km away</p>
                {% endif %}
            </p>
            {% if is_online %}<div class="online-status"></div>{% endif %}
            
        </div>
    </div>
{% empty %}
    <p>No profiles found with similar qualifications.</p>
{% endfor %}
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}