{% extends 'shared/base.html' %}
{% load static %}

{% block meta %}
<title>Change Password</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock style %}

{% block content %}
<div class="row">
    <h1 class="settings-text top-navbar">Change Password</h1>
    <div class="profile-section">
        <div class="profile-info">
            <img src="https://via.placeholder.com/50" alt="Profile Picture" />
            <div>
                <h2>Nazrul Islam</h2>
                <p>For a stronger security, please update your password.</p>
            </div>
        </div>
        <i class="fas fa-key fa-2x"></i> <!-- Key symbol aligned to the right -->
    </div>
    
    <div class="content-section">
        <p class="text-center">Feeling worried about your account being easily preyed on? Change your password now!</p>
        <br>
        <hr>
        <br>
        <form class="changepass-form">
            <div class="changepass-form-group">
                <label for="current-password" class="form-label">Current Password</label>
                <input type="password" id="current-password" class="form-control" placeholder="Enter current password">
                <i class="fas fa-eye-slash toggle-password" onclick="togglePassword('current-password')"></i>
            </div>
            <div class="changepass-form-group">
                <label for="new-password" class="form-label">New Password</label>
                <input type="password" id="new-password" class="form-control" placeholder="Enter new password">
                <i class="fas fa-eye-slash toggle-password" onclick="togglePassword('new-password')"></i>
            </div>
            <div class="changepass-form-group">
                <label for="confirm-password" class="form-label">Confirm Password</label>
                <input type="password" id="confirm-password" class="form-control" placeholder="Confirm new password">
                <i class="fas fa-eye-slash toggle-password" onclick="togglePassword('confirm-password')"></i>
            </div>
            <button type="submit" class="btn changepass-btn-update" style="align-items: center;" >Update</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function togglePassword(id) {
        const input = document.getElementById(id);
        const icon = document.querySelector(`#${id} + .toggle-password`);
        const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
        input.setAttribute('type', type);
        icon.classList.toggle('fa-eye');
        icon.classList.toggle('fa-eye-slash');
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
{% endblock %}
