{% extends 'shared/base.html' %}
{% load static %}

{% block style %}
<style>
    body{
        background-color: #4B164C;
    }
    .top-heading{
        color: white;
    }
</style>
    
{% endblock style %}
    
{% block content %}
<div class="row top-heading">
    <div class="col-12">
        <div class="heading-container">
          <div class="back-icon">
            <i class="bi bi-chevron-left"></i>
          </div>
          <div class="title-text">
              <h1>Privacy & Settings</h1>
          </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center" id="contents">
    <div class="col-12 col-md-10 col-lg-8 top-rounded-white-box contents">
      <div class="list-group">
        <div class="list-group-item">
          <div class="item-content">
            <div class="name-status">
                <div>Sign-in Email</div>
            </div>
          </div>
          <div class="action-icons">
            <div>johnsmith@gmail.com</div> 
          </div>
        </div>
        <div class="list-group-item">
          <div class="item-content">
            <div class="name-status">
                <div>Password</div>
            </div>
          </div>
          <div class="action-icons">
            <div><a href="#" class="text-primary">Change password</a></div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="item-content">
            <div class="name-status">
                <div>2-FA authentification</div>
            </div>
          </div>
          <div class="action-icons">
            <input class="form-check-input" style=" background-color: #5a2d82;" type="checkbox" id="flexSwitchCheckChecked" checked>
        </div>
        </div>
        <div class="list-group-item">
          <div class="item-content">
            <div class="name-status">
                <div>Phone number</div>
            </div>
          </div>
          <div class="action-icons">
            <div class="subheading">+380 93 123 45 67</div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="item-content">
            <div class="name-status">
                <div>Partner Preference</div>
            </div>
          </div>
        </div>

        <div class="list-group-item">
          <div class="item-content">
            <div class="name-status">
                <div>Last sign in</div>
                <div class="subheading">today at 18:34, Safari 198.123.23.23</div>
                <div>Total active sessions (5)</div>
                <div class="subheading">DESKTOP-6TIG6EC • Kyiv, Ukraine<br>Chrome • Used right now</div>
                <div class="subheading">Iphone 11 • Kyiv, Ukraine<br>Chrome • 04/19/2022</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
        

{% endblock %}