{% extends 'shared/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center"> 
        <div class="col-md-8">
            <div class="pr-st-top-navbar">
              <div class="search-icon-container">
                <i class="fas fa-search"></i>
                <!-- The search icon -->
              </div>
                <h1 class="pr-st-settings-text">Privacy & Settings</h1>
              </div>
              <div class="pr-st-profile-section">
                <div class="pr-st-profile-info">
                  <div>
                        <h2>Sign-in Email</h2>
                    </div>
                </div>
                <p>johnsmith@gmail.com</p>
              </div>

            <div class="pr-st-main-content">
                <div class="list-group">
                  <div class="pr-st-list-group-item">
                    <div class="pr-st-item-content">
                      <div>Password</div>
                    </div>
                    <a href="#" class="text-primary">Change password</a>
                    </div>
                    <div class="pr-st-list-group-item">
                      <div class="pr-st-item-content">
                        <div>2-FA authentication</div>
                      </div>
                      <div class="form-check form-switch">
                        <input class="form-check-input" style=" background-color: #5a2d82;" type="checkbox" id="flexSwitchCheckChecked" checked>
                      </div>
                    </div>
                    <div class="pr-st-list-group-item">
                        <div class="pr-st-item-content">
                          <div>Phone number</div>
                          <div class="pr-st-subheading">+380 93 123 45 67</div>
                        </div>
                      </div>
                      <div class="pr-st-list-group-item">
                        <div class="pr-st-item-content">
                          <div>Partner Preference</div>
                        </div>
                      </div>
                    <div class="pr-st-list-group-item">
                        <div class="pr-st-item-content">
                          <div>Last sign in</div>
                            <div class="pr-st-subheading">today at 18:34, Safari 198.123.23.23</div>
                        </div>
                    </div>
                    <div class="pr-st-list-group-item">
                        <div class="pr-st-item-content">
                          <div>Total active sessions (5)</div>
                          <div class="pr-st-subheading">DESKTOP-6TIG6EC • Kyiv, Ukraine<br>Chrome • Used right now</div>
                            <div class="pr-st-subheading">iPhone 11 • Kyiv, Ukraine<br>Chrome • 04/19/2022</div>
                          </div>
                        </div>
                      </div>
                <div class="d-flex justify-content-end">
                  <button class="pr-st-reset-button mt-3"><i class="fas fa-sync-alt"></i> Reset all active sessions</button>
                </div>
              </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}
