{% extends 'shared/base.html' %}

{% block meta %}
<title>Messages</title>
{% endblock %}

{% block content %}
<div class="content-section">
    <div class="m-top-navbar">
      <a href="#" class="back-button"><i class="fas fa-chevron-left"></i></a>
      <h1 class="page-title">Messages</h1>
    </div>
    <div class="m-recent-matches">
      <h2>Recent Matches</h2>
      <div class="match-avatars">
        <div class="match-avatar">
          <img src="https://via.placeholder.com/100" alt="Match" />
        </div>
        <div class="match-avatar">
          <img src="https://via.placeholder.com/100" alt="Match" />
        </div>
        <div class="match-avatar">
          <img src="https://via.placeholder.com/100" alt="Match" />
        </div>
        <div class="match-avatar">
          <img src="https://via.placeholder.com/100" alt="Match" />
        </div>
      </div>
    </div>
    <div class="messages-list">
      <div class="messages-list-inner">
        <div class="message-item">
          <div class="message-avatar">
            <img src="https://via.placeholder.com/75" alt="Alfredo Calzoni" />
          </div>
          <div class="message-content">
            <div class="message-name">Alfredo Calzoni</div>
            <div class="message-text">What about that new jacket if I ...</div>
          </div>
          <div class="message-time">09:18</div>
        </div>
        <div class="message-item">
          <div class="message-avatar">
            <img src="https://via.placeholder.com/75" alt="Alfredo Calzoni" />
          </div>
          <div class="message-content">
            <div class="message-name">Alfredo Calzoni</div>
            <div class="message-text">What about that new jacket if I ...</div>
          </div>
          <div class="message-time">09:18</div>
        </div>
        <div class="message-item">
          <div class="message-avatar">
            <img src="https://via.placeholder.com/75" alt="Alfredo Calzoni" />
          </div>
          <div class="message-content">
            <div class="message-name">Alfredo Calzoni</div>
            <div class="message-text">What about that new jacket if I ...</div>
          </div>
          <div class="message-time">09:18</div>
        </div>
        <div class="message-item">
          <div class="message-avatar">
            <img src="https://via.placeholder.com/75" alt="Alfredo Calzoni" />
          </div>
          <div class="message-content">
            <div class="message-name">Alfredo Calzoni</div>
            <div class="message-text">What about that new jacket if I ...</div>
          </div>
          <div class="message-time">09:18</div>
        </div>
        <div class="message-item">
          <div class="message-avatar">
            <img src="https://via.placeholder.com/75" alt="Alfredo Calzoni" />
          </div>
          <div class="message-content">
            <div class="message-name">Alfredo Calzoni</div>
            <div class="message-text">What about that new jacket if I ...</div>
          </div>
          <div class="message-time">09:18</div>
        </div>
        <div class="message-item">
          <div class="message-avatar">
            <img src="https://via.placeholder.com/75" alt="Alfredo Calzoni" />
          </div>
          <div class="message-content">
            <div class="message-name">Alfredo Calzoni</div>
            <div class="message-text">What about that new jacket if I ...</div>
          </div>
          <div class="message-time">09:18</div>
        </div>
        <div class="message-item">
          <div class="message-avatar">
            <img src=".image.jpg" alt="Alfredo Calzoni" />
          </div>
          <div class="message-content">
            <div class="message-name">Alfredo Calzoni</div>
            <div class="message-text">What about that new jacket if I ...</div>
          </div>
          <div class="message-time">09:18</div>
        </div>
        <div class="message-item">
          <div class="message-avatar">
            <img src="https://via.placeholder.com/75" alt="Alfredo Calzoni" />
          </div>
          <div class="message-content">
            <div class="message-name">Alfredo Calzoni</div>
            <div class="message-text">What about that new jacket if I ...</div>
          </div>
          <div class="message-time">09:18</div>
        </div>
        <!-- Additional message items -->
      </div>
    </div>
  </div>
{% endblock content %}


{% block scripts %}
      
{% endblock scripts %}
