{% extends "shared/account_base.html" %}
{% block meta %}
    <title>Personal Details </title>
{% endblock meta %}
{% load static %}
{% block content %}
        
    
    
    
    <div class="container-fluid p_details-container-fluid py-3" id="personal-detail">
        <div class="p_details-container">
            <h2 class="p_details-h2">Personal Details</h2>
            <form class="p_details-form">
                <input type="text" id="age" name="age" placeholder="Age" class="p_details-input">
                <input type="date" id="dob" name="dob" placeholder="Date of Birth" class="p_details-input">
                <input type="text" id="hobbies" name="hobbies" placeholder="Hobbies" class="p_details-input">
                <input type="text" id="interests" name="interests" placeholder="Interests" class="p_details-input">
                <input type="text" id="smoking" name="smoking" placeholder="Smoking Habits" class="p_details-input">
                <input type="text" id="drinking" name="drinking" placeholder="Drinking Habits" class="p_details-input">
                
                <div class="input-container p_details-input">
                    <input type="text" id="qualifications" name="qualifications" placeholder="Qualifications">
                    <i class="fa-solid fa-plus"></i>
                </div>
                
                <div class="file-input-with-icon p_details-input">
                    <input type="file" id="profile-pic" name="profile-pic">
                    <input type="text" class="placeholder-input" placeholder="Profile Pic" disabled>
                    <i class="fa-regular fa-image"></i>
                </div>
                
                <div class="file-input-with-icon p_details-input">
                    <input type="file" id="images" name="images">
                    <input type="text" class="placeholder-input" placeholder="Add More Images" disabled>
                    <i class="fa-regular fa-image"></i>
                </div>
                
                <div class="file-input-with-icon p_details-input">
                    <input type="file" id="short-reel" name="short-reel">
                    <input type="text" class="placeholder-input" placeholder="Short Reel" disabled>
                    <i class="fa-solid fa-video"></i>
                </div>
                
                <button type="submit" class="next-btn p_details-btn">Next</button>
            </form>
        </div>
    </div>
    
    <script>
        document.querySelectorAll('.file-input-with-icon input[type="file"]').forEach(input => {
            input.addEventListener('change', function() {
                const placeholder = this.nextElementSibling;
                if (this.files.length > 0) {
                    placeholder.value = this.files[0].name;
                } else {
                    placeholder.value = "";
                }
            });
        });
    </script>
    
    
    
{% endblock content %}