{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid p_details-container-fluid py-3">
    <div class="p_details-container">
        {% if user.is_authenticated %}
            <h2 class="p_details-h2">Personal Details of {{ user.username }}</h2>
            <ul>
                <li>Age: {{ user.personal_details.age }}</li>
                <li>Date of Birth: {{ user.personal_details.dob }}</li>
                <li>Hobbies: {{ user.personal_details.hobbies }}</li>
                <li>Interests: {{ user.personal_details.interests }}</li>
                <li>Smoking Habits: {{ personal_details.smoking_habits }}</li>
                <li>Drinking Habits: {{ personal_details.drinking_habits }}</li>
                <li>Qualifications: {{ personal_details.qualifications }}</li>
            </ul>
            
            <h3>Profile Picture</h3>
            {% if user.personal_details.profile_pic %}
                <img src="{{ user.personal_details.profile_pic.url }}" alt="Profile Picture" style="max-width: 200px;">
            {% else %}
                <p>No profile picture uploaded.</p>
            {% endif %}
            
            <h3>Additional Images</h3>
            <div class="additional-images">
                {% for image in additional_images %}
                    <img src="{{ image.image.url }}" alt="Additional Image {{ forloop.counter }}" style="max-width: 200px; margin-right: 10px;">
                {% endfor %}
            </div>
            
            <h3>Short Reel</h3>
            {% if personal_details.short_reel %}
                <video controls style="max-width: 400px;">
                    <source src="{{ personal_details.short_reel.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% else %}
                <p>No short reel uploaded.</p>
            {% endif %}
        {% else %}
            <p>You need to be logged in to view your personal details.</p>
        {% endif %}
    </div>
</div>

{% endblock content %}
