{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<div class="container-fluid signup-container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="container my-4 signup-container p-4 bg-white shadow-lg rounded-3" style="max-width: 450px;">
        <form id="signupForm" method="POST">
            {% csrf_token %}
            <h3 class="text-center mb-3">Sign Up</h3>
            
            <!-- Name Field -->
            <div class="mb-3">

                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control signup-form-control" id="username" name="username" placeholder="Enter your name" value="{{ form.username.value }}">
                {% if form.username.errors %}
                    <div class="text-danger">
                        {% for error in form.username.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Email Field -->
            <div class="mb-3">

                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control signup-form-control" id="email" name="email" placeholder="Enter your email" value="{{ form.email.value }}">
                {% if form.email.errors %}
                    <div class="text-danger">
                        {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            

            <!-- Mobile Field -->
            <div class="mb-3">

                <label for="mobile" class="form-label">Mobile</label>
                <input type="text" class="form-control signup-form-control" id="mobile" name="mobile" placeholder="Enter your mobile number" value="{{ form.mobile.value }}">
                {% if form.mobile.errors %}
                    <div class="text-danger">
                        {% for error in form.mobile.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            

            <!-- Password Field -->
            <div class="mb-3">

                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control signup-form-control" id="password1" name="password1" placeholder="Enter your password">
                {% if form.password1.errors %}
                    <div class="text-danger">
                        {% for error in form.password1.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            

            <!-- Confirm Password Field -->
            <div class="mb-3">

                <label for="confirm-password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control signup-form-control" id="password2" name="password2" placeholder="Confirm your password">
                {% if form.password2.errors %}
                    <div class="text-danger">
                        {% for error in form.password2.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            

            <!-- Submit Button -->
            <div class="d-grid gap-2">
                <button type="submit" id="registerButton" class="btn btn-custom btn-primary-custom">Register</button>
            </div>


            {% if form.non_field_errors %}
                <div class="alert alert-danger mt-3">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}